/backend-laravel/vendor
/backend-laravel/node_modules
/backend-laravel/public/storage
/backend-laravel/Homestead.json
/backend-laravel/Homestead.yaml
/backend-laravel/.env
/backend-laravel/.phpunit.result.cache
/backend-laravel/npm-debug.log
/backend-laravel/yarn-error.log

/frontend-angular/node_modules
/frontend-angular/.angular
/frontend-angular/.vscode
/frontend-angular/dist
/frontend-angular/tmp
/frontend-angular/out-tsc
/frontend-angular/bazel-out
/frontend-angular/test-results

.DS_Store
Thumbs.db
.idea
.vscode
